@import '../../styles/variables';

.main-sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 230px;
  background: $body-background;
  padding: 0;
  transition: width .3s ease-in-out, flex .3s ease-in-out;
  height: calc(100vh - 50px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-color-dark;
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid $primary-color-dark;
    background: $primary-color;

    &:hover {
      background: $primary-color-light;
    }
  }

  &.collapsed {
    width: 50px;
    overflow-y: auto;

    .sidebar {

      .log-data {
        display: none;
      }

      .user-panel {

        .info {
          display: none;
        }

        .image {

          img {
            width: 30px;
          }
        }
      }

      .sidebar-menu {

        & > li {

          &.header {
            display: none;
          }

          & > a {

            .page {
              display: none;
            }
          }
        }
      }
    }
  }

  .sidebar {
    padding: 10px 0;

    .log-data {
      
      ul {
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;

        li {
          list-style: none;
          color: $secondary-text-color;
          line-height: 1.75;
          font-size: .875rem;

          strong {
            font-weight: 600;
          }
        }
      }
    }

    .user-panel {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.875em;

      .image {
        font-size: 0;

        img {
          border-radius: 50%;
          width: 45px;
          height: auto;
          transition: width .3s ease-in-out;
        }
      }

      .info {
        padding: 5px 5px 5px 15px;
        color: $secondary-text-color;

        p {
          margin: 0;
        }

        & > a {
          color: $secondary-text-color;
          text-decoration: none;
          padding: 0 0 5px 0;
          margin: 3px 0 0 0;
          font-size: 0.6875em;

          & > .fa {
            margin-right: 3px;
          }
        }
      }
    }

    .sidebar-menu {
      white-space: nowrap;
      overflow: hidden;
      list-style: none;
      margin: 10px 0 0 0;
      padding: 0;

      & > li {
        position: relative;
        margin: 0;
        padding: 0;

        &.header {
          color: $primary-color;
          background: $primary-color;
          overflow: hidden;
          text-overflow: clip;
          white-space: nowrap;
          padding: 10px 25px 10px 15px;
          font-size: 0.75em;
          color: $primary-color-dark;
          text-transform: uppercase;
        }

        & > a {
          border-left: 3px solid transparent;
          padding: 12px 15px;
          position: relative;
          display: block;
          color: $primary-text-color;
          text-decoration: none;
          font-size: 0.875em;
          background: transparent;
          transition: color .3s ease-in-out, border .3s ease-in-out, background .3s ease-in-out;

          &.active, &:hover {
            color: $secondary-text-color;
            background: rgba(0,0,0,.1);
            border-color: $secondary-color;
          }

          & > .fa {
            width: 20px;
          }
        }
      }
    }
  }
}